h1{
    font-size: 3.5rem;
    cursor: pointer;
}

.h1-a:hover{
    color: #0d6efd;
}
.nav-ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 2.5rem;
}

.nav-ul li{
    margin-left: 2rem;
    cursor: pointer;
    transition: color .5s;
}

.nav-ul li:hover{
    color: #6FFFE9;
}


.full-screen{
    min-height: 100vh;
}

.sub-font{
    font-size: 2.5rem;
}

.profile-contain{
    width: 15%;
}

.profile-img{
    border-radius: 50%;
}

.text{
    font-size: 1.75rem;
    margin-left: .5rem;
}

.icons{
    font-size: 3rem;
    transition: color .5s;
}

.icons:hover{
    color: #6FFFE9 !important;
}

.icon-space{
    margin-left: 5rem;
}

.w-40{
    width: 40%;
}

.project-img{
    border: 2px solid black;
    border-radius: 20px;
    transition: opacity .5s;
}

.project-img:hover{
    opacity: 65%;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.project-btn{
    background-color: #6FFFE9;
    transition: background-color .75s;
}

.project-btn:hover{
    background-color: lightgreen;
}

.fill-section{
    min-height: calc(100vh - 163.19px - 120px);
}

.active-tab{
    color: rgb(46, 190, 238);
}

.resume-link{
    text-decoration: none;
}

.main-color{
    background-color: #1C2541;
}


/* media queries */
@media only screen and (max-width: 1300px) {
    h1{
        text-align: center;
    }
    .nav-ul{
        justify-content: center;
        padding: 0;
    }
    .nav-ul li{
        width: 100%;
        margin: 0;
        text-align: center;
        margin-top: 2rem;
    }
    .nav-ul a{
        width: 100%;
    }
    .profile-contain{
        width: 100%;
    }
    .about-header{
        text-align: center;
    }
    .project-header{
        text-align: center;
    }
    .project-contain{
        width: 100%;
        margin-top: 2rem;
    }
    .form-contact{
        width: 100% !important;
    }
    .contact-label{
        text-align: center;
    }
    .contact-input{
        width: 100% !important;
    }
    .contact-btn{
        width: 100% !important;
    }
    .header-section{
        justify-content: center !important;
    }
}