h1{
    font-size: 3.5rem;
    cursor: pointer;
}

.nav-ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 2.5rem;
}

.nav-ul li{
    margin-left: 2rem;
    cursor: pointer;
    transition: color .5s;
}

.nav-ul li:hover{
    color: white;
}


.full-screen{
    min-height: 100vh;
}

.sub-font{
    font-size: 2.5rem;
}

.profile-contain{
    width: 15%;
}

.profile-img{
    border-radius: 50%;
}

.text{
    font-size: 1.75rem;
    margin-left: .5rem;
}

.icons{
    font-size: 3rem;
    transition: color .5s;
    color: blue;
}

.icons:hover{
    color: white;
}

.icon-space{
    margin-left: 5rem;
}

.w-40{
    width: 40%;
}

.project-img{
    border: 2px solid black;
    border-radius: 20px;
    transition: opacity .5s;
}

.project-img:hover{
    opacity: 65%;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.project-btn{
    background-color: lightblue;
    transition: background-color .75s;
}

.project-btn:hover{
    background-color: lightgreen;
}